
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503575634999'); /* IE9*/
  src: url('iconfont.eot?t=1503575634999#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503575634999') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503575634999') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503575634999#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danquxunhuan:before { content: "\e66c"; }

.icon-16:before { content: "\e610"; }

.icon-xin:before { content: "\e621"; }

.icon-shanchu:before { content: "\e60e"; }

.icon-weibiaoti1:before { content: "\e600"; }

.icon-shunxubofang:before { content: "\e671"; }

.icon-yinle:before { content: "\e639"; }

.icon-zanting:before { content: "\e6eb"; }

.icon-jiangbei01:before { content: "\e608"; }

.icon-yinle1:before { content: "\e65c"; }

.icon-rectangle2:before { content: "\e63a"; }

.icon-qianjin:before { content: "\e60b"; }

.icon-tubiao03:before { content: "\e60c"; }

.icon-goback:before { content: "\e652"; }

.icon-yinle2:before { content: "\e88e"; }

.icon-xin1:before { content: "\e687"; }

.icon-jiaochabiao-:before { content: "\e6d4"; }

.icon-music:before { content: "\e6ee"; }

.icon-delete2:before { content: "\e7a5"; }

